*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: darkolivegreen;
}

.App{
    width: 500px;
    height: 700px;
    background-color: rgb(117, 148, 64);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(34, 48, 9);
}

h1{
    text-align: center;
    color: rgb(34, 48, 9);
    padding-bottom: 80px;
    font-size: 40px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-button{
   width: 40%;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.number-container{
    width: 40%;
    height: 200px;
    margin-bottom: 25px;
    border: 3px solid rgb(34, 48, 9);
    border-radius: 8px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 5rem;
}

@media (500px < width < 800px) {
    .App{
        width: 400px;
        
    }
}

@media (200px < width <= 500px) {
    .App{
        width: 300px;
        height: 600px;
    }
    .number{
        font-size: 3rem;
    }
    h1{
        font-size: 30px;
    }
    .number-container{
        width: 50%;
        height: 200px;
    }
}

@media (width <= 300px) {
    .App{
        width: 250px;
        height: 600px;
    }
    .number{
        font-size: 3rem;
    }
    h1{
        font-size: 30px;
    }
    .number-container{
        width: 60%;
        height: 200px;
    }
}